.cargo/
.env/
.git/
.ruff_cache/
.vscode/
artifacts/
recordings/
restreamer/assets/files/
target/
tools/audio/
yamnet/
!yamnet/models/
**/*.wav
**/*.ogg
**/*.aac
!restreamer/sample.aac
**/*.bin
**/*.sqlite
