main {
    display: grid;
    /* grid-template-rows: 70% 30%; */
    gap: 10px;

}

main>table {
    margin: auto;
}

tr {
    border-bottom: 1px solid #ddd;
}

td {
    padding: 0em 1em;
}

.matches {
    text-align: center;
}

.Music {
    background-color: aqua;
}

.Advertisement {
    background-color: lightsalmon;
}

.Talk {
    background-color: gainsboro;
}

.Unknown {
    background-color: deeppink;
}

#events {
    overflow: hidden;
    border-top: 5px solid black;
}

tr[data-selected="true"] {
    background-color: rgb(240, 240, 240);
}

tr[data-selected="true"] td:first-child::before {
    content: "▶\00a0";
}

tr[data-selected="false"] td:first-child::before {
    content: "\00a0\00a0\00a0\00a0";
}

.playbutton[data-play-state] {
    font-size: xx-large;
    width: 3ch;
    height: 3ch;
    border-radius: 50%;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(grey calc(var(--percent) * 1%), white calc(var(--percent) * 1%));
}

.playbutton[data-play-state="stop"]::before {
    content: "▶";
}

.playbutton[data-play-state="play"]::before {
    content: "⏹";
}
