main {
  display: grid;
  /* grid-template-rows: 70% 30%; */
  gap: 10px;
}

main>table {
  margin: auto;
}

tr {
  border-bottom: 1px solid #ddd;
}

td {
  padding: 0 1em;
}

.matches {
  text-align: center;
}

.music {
  background-color: aqua;
}

.advertisement {
  background-color: lightsalmon;
}

.talk {
  background-color: gainsboro;
}

.unknown {
  background-color: deeppink;
}

#events {
  overflow: hidden;
  border-top: 5px solid black;
}

tr[data-selected="true"] {
  background-color: rgb(240 240 240);
}

tr[data-selected="true"] td:first-child::before {
  content: "▶\00a0";
}

tr[data-selected="false"] td:first-child::before {
  content: "\00a0\00a0\00a0\00a0";
}


div.player {
  width: 50vw;
  height: 30px;
}

div.player .playbutton {
	display: inline-block;
	margin: auto;
	height: 100%;
	font-size: x-large;
	border-radius: 50%;
	border-width: 2;
	justify-content: center;
	align-items: center;
}

.playbutton[data-play-state="stopped"]::before {
  content: "▶";
}

.playbutton[data-play-state="playing"]::before {
  content: "⏹";
}

.playbutton[data-play-state="disabled"]::before{
  content: "▶";
  color: grey;
}

div.player .visualisation {
  display:inline-block;
  position: relative;
  width: 80%;
  height: 100%;
}

div.player .visualisation > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div.player .visualisation canvas.bars {
  z-index: 1;
}

div.player .visualisation canvas.active-bar {
  z-index: 2;
}

div.player .visualisation canvas.play-position {
  z-index: 3;
}

div.player .visualisation div.active-zone {
  z-index: 4;
}

div.player .visualisation div.tooltip {
  z-index: 5;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 20px;
  width: 350px;
  padding: 0 5px;
  height: 40px;
  background-color: lightgrey;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s linear,opacity 0.1s linear;
}
