<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Adbanda :: Analyse</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<script type="text/javascript" src="/static/classification_diagram.js"></script>

<body>
    <main>
        <form id="form_file" method="post" action="/analyse" enctype="multipart/form-data">
            <label for=" file">Select a file:</label>
            <input type="file" id="file" name="file" onchange='form.submit()'>
        </form>`

        <form id="form_url" method="post" action="/analyse" enctype="multipart/form-data">
            <label for="url">Give an URL:</label>
            <input type="text" id="url" name="url" onchange='form.submit()'>
        </form>

        <div id="result">
            <table>
                <tr>
                    <td>
                        {% if content_kind_from_tags %}
                        Content Kind (from tags): {{ content_kind_from_tags }} <br />
                        {%endif%}
                        {% if tags %}
                        {% for key, value in tags %}
                        {{ key }}: {{ value }} <br>
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if fingerprints %}
                        {% for values in fingerprints %}
                        <a href="/view/{{values.id}}" target="_blank">
                          {{values.score * 100 | round }}%
                          {{values.content_kind}}
                          :: {{values.artist}}
                          / {{values.title}}</a>
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if predictions %}
                        <canvas id="classification_canvas"></canvas>
                        <script type="text/javascript">
                            draw_classification_diagram(document.getElementById("classification_canvas"), [
                                {% for p in predictions %}
                            [{{ p.advertisement }}, {{ p.music }}, {{ p.talk }}],
                                {% endfor %}
                            ]);
                        </script>
                        {# <table>
                            <tr>
                                <th>A</th>
                                <th>M</th>
                                <th>T</th>
                            </tr>
                            {% for p in predictions %}
                            <tr>
                                <td>{{p.advertisement * 100|round}}%</td>
                                <td>{{p.music * 100 | round}}%</td>
                                <td>{{p.talk * 100 | round}}%</td>
                            </tr>
                            {% endfor %}
                        </table> #}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>

        <div id="error">{% if error %} {{error}} {% endif %}</div>
    </main>
</body>

</html>
