<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Adbanda Feeder {% if title %}/ {{ title }} {% endif %}</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <main id="segments">
        {% include "segments-table" %}
    </main>
</body>

{% block script %}
<script src="/static/script.js"></script>
<script type="text/javascript">
    populate_metadata("/api/v1/segments/json", 0, 200);
</script>
{% endblock script %}

</html>
