<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Adbanda Feeder / {{ kind }}</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <main>
        {{ source }}
        <div class="segments">
            {% include "segments-table" %}
        </div>
    </main>
</body>


<script src="/static/script.js"></script>
<script type="text/javascript">
    load_segments("{{ source }}?skip=0&limit=10")
</script>

</html>
