<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Adbanda Feeder / {{ data.artist }} - {{ data.title }}</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <main>
        <div class="segment-details" style="margin: auto;">
            <form method="post" action="/api/v1/segment/update">
                <input hidden name="id" value="{{ data.id }}" />

                <label for="artist">Artist: </label>
                <span id="artist">{{ data.artist }}</span> <br>

                <label for="title">Title: </label>
                <span id="artist">{{ data.title }}</span> <br>

                <audio controls src="/api/v1/segment/{{ data.id }}/audio/"></audio> <br>

                <label for="kind">Kind: </label>
                <div id="kind" style="display:inline">
                    {% for kind in ["Advertisement", "Music", "Talk", "Unknown"] %}
                    <input type="radio" id="{{kind}}" name="kind" value="{{kind}}" {% if kind==data.kind %} checked {%
                        endif %}>
                    <label for="{{kind}}">{{kind}}</label>
                    {% endfor %}
                </div>
                <br>

                <label for="tags">Tags: </label>
                <div>
                    {% for key, value in data.tags %}
                    <b>{{ key }}</b>: {{ value }} <br>
                    {% endfor %}
                </div>

                <input type="submit" />
            </form>
        </div>
    </main>
</body>

</html>
